/*!---Tipografia---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,100;1,700&display=swap');

/*!---Reset---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*!---Header---*/
header{
    position: sticky;
    top: 0;
    z-index: 10;
}
header nav{
    background-color: black;
}
.colornav{
    color: rgba(166, 0, 255, 0.486);
    transition: 1s;
}
.colornav:hover{
    transform: scale(1.1);
    color: greenyellow;
}
.boton-nav{
    border: 3px solid rgba(166, 0, 255, 0.486);
    color: white;
    transition: 1s;
}
.boton-nav:hover{
    background-color:greenyellow;
    color: white;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    border: 3px solid rgba(166, 0, 255, 0.486);
}
/*!---Main---*/
main{
    color: white;
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 28px;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: 6px solid rgba(166, 0, 255, 0.486);
}
h2{
    text-align: center;
}
/*!---Footer---*/
footer{
    background-color: black;
    padding: 50px;
    text-align: center;
}
footer i{
    font-size: 50px;
    margin: 20px;
    color: rgba(166, 0, 255, 0.486);
    transition: 1s;
}
footer i:hover{
    color: greenyellow;
    transform: scale(1.1);
}
#filter__input{
    display: block;
    margin: auto;
    width: 40%;
}
